<div class="flex justify-between alert" [class.alert-success]="user().active" [class.bg-error]="!user().active">
    <div class="avatar avatar-placeholder">
        <div class="bg-base-content text-neutral-content rounded-full w-16">
            <span class="text-xl">{{initials()}}</span>
        </div>
    </div>

    <div class="flex flex-col">
        <div>
            <a [routerLink]="['/admin/users', user().id]">
                <h4 class="text-xl font-bold">{{user().name}}</h4>
                <h4>{{user().lastName}}</h4>
            </a>
        <div class="mt-2">
            @for (role of roles(); track role) {
                <div class="badge badge-soft badge-secondary uppercase">{{role}}</div>
            }
            @empty {
                <div class="badge badge-soft badge-secondary uppercase">Sin roles</div>
            }
        </div>
        </div>
        <div class="mt-3 flex gap-x-2">
            <div class="tooltip" data-tip="Eliminar usuario">
                <button class="btn btn-error">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z"/></svg>
                </button>
            </div>
            @if (user().active) {
                <div class="tooltip" data-tip="Deshabilitar usuario (Recomendado)">
                    <button class="btn btn-warning" (click)="onDisable(user().id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 20q1.275 0 2.45-.387t2.2-1.113q-1.025-.725-2.2-1.112T12 17t-2.45.388t-2.2 1.112q1.025.725 2.2 1.113T12 20m2.65-8.2l-1.425-1.425q.125-.2.2-.425t.075-.45q0-.625-.438-1.063T12 8q-.225 0-.45.075t-.425.2L9.7 6.85q.475-.425 1.063-.638T12 6q1.45 0 2.475 1.025T15.5 9.5q0 .65-.213 1.238T14.65 11.8m5.7 5.7l-1.45-1.45q.55-.925.825-1.95T20 12q0-3.35-2.325-5.675T12 4q-1.075 0-2.1.275T7.95 5.1L6.5 3.65q1.225-.8 2.625-1.225T12 2q2.075 0 3.9.788t3.175 2.137T21.213 8.1T22 12q0 1.475-.425 2.875T20.35 17.5M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12q0-1.475.413-2.875t1.212-2.65L.675 3.5L2.1 2.075l19.8 19.8l-1.425 1.425L5.1 7.95q-.55.925-.825 1.95T4 12q0 1.425.475 2.725T5.85 17.1q1.35-1.025 2.912-1.563T12 15q.95 0 1.9.2t1.85.55l3.325 3.325q-1.425 1.425-3.25 2.175T12 22"/></svg>
                    </button>
                </div>
            } @else {
                <div class="tooltip" data-tip="Habilitar usuario">
                    <button class="btn btn-success" (click)="onEnable(user().id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8"/></svg>
                    </button>
                </div>
            }
        </div>
    </div>
</div>