<div class="navbar bg-neutral text-white shadow-sm">
    @if (this.authService.user()) {
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a routerLink="admin" routerLinkActive="bg-base-300">

                        Administración
                    </a>
                </li>
                <li><a routerLink="employees" routerLinkActive="bg-base-300">Area laboral</a></li>
            </ul>
        </div>
        <a class="ml-3 font-black text-2xl">ContApp</a>
    </div>
    <!-- <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 bg-neutral">
            <li><a routerLink="admin" routerLinkActive="bg-base-300">Administración</a></li>
            <li><a routerLink="employees" routerLinkActive="bg-base-300">Area laboral</a></li>
        </ul>
    </div> -->
    <div class="navbar-end">
        <div class="dropdown dropdown-end px-3">
            @if (authService.user()) {
            <div tabindex="0" role="button" class="btn btn-circle bg-neutral-500 avatar avatar-online border-0 flex">
                <div class="bg-neutral-600 text-neutral-content w-24 rounded-full">
                    <span class="text-3xl">{{authService.user()!.name[0]}}</span>
                </div>
            </div>
            }
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-neutral rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between hover:bg-neutral-700" [routerLink]="['auth/view', authService.user()?.id]" routerLinkActive="">
                        Visualizar perfil
                    </a>
                </li>
                <!-- <li><a>Settings</a></li> -->
                <li><a (click)="logout()" class="text-error hover:bg-neutral-700">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
    }
</div>