@if (clients().length > 0) {
  <div class="overflow-x-auto">
    <table class="table text-center table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre completo</th>
          <th>Número de teléfono</th>
          <th>Estado</th>
          @if(isAdmin){
            <th>Creado</th>
            <th>Modificado</th>
          }
          <th>Creado por:</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (client of clients(); track client.id; let index = $index) {
          <tr>
            <th>{{index+1}}</th>
            <td>
              <div>
                <h4 class="font-bold"><a [routerLink]="['/clients', client.id]">{{client.fullName}}</a></h4>
                <h5 class="font-light">{{client.rfc}}</h5>
              </div>
            </td>
            <td>{{client.phoneNumber  | PhoneNumber}}</td>
            <td>
              @if (client.active) {
                <div aria-label="status" class="status status-xl status-success"></div>
              } @else {
                <div aria-label="status" class="status status-xl status-error"></div>
              }
            </td>

            @if (isAdmin) {
              <td>
                {{client.createdAt | date: 'shortDate'}}
              </td>
              <td>
                {{client.updatedAt| date: 'shortDate'}}
              </td>
            }
            @if (client.created_by) {
              <td>{{client.created_by.name}}</td>
            }
            <td class="flex justify-center gap-x-2">
              @if(isAdmin){
                <a class="btn btn-info" [routerLink]="['/admin/clients/', client.id]">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21q-.425 0-.712-.288T3 20v-2.425q0-.4.15-.763t.425-.637L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.437.65T21 6.4q0 .4-.138.763t-.437.662l-12.6 12.6q-.275.275-.638.425t-.762.15zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z"/></svg>
                </a>
                <button class="btn" [class.btn-error]="client.active" [class.btn-success]="!client.active" (click)="onClickDelete(client.id)">
                  @if (client.active) {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6L6 18M6 6l12 12"/></svg>
                  } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 12l5 5L20 7"/></svg>
                  }
                </button>
                <div class="tooltip" data-tip="Administrar contratos">
                  <a class="btn btn-info" [routerLink]="['/admin/clients/contracts', client.id]">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6 22q-1.25 0-2.125-.875T3 19v-3h3V2h15v17q0 1.25-.875 2.125T18 22zm12-2q.425 0 .713-.288T19 19V4H8v12h9v3q0 .425.288.713T18 20M9 9V7h9v2zm0 3v-2h9v2z"/></svg>
                </a>
                </div>
  
                  @if (client.clientUser && client.clientUser.length === 0) {
                    <div class="tooltip" data-tip="Asignar usuario">
                      <button class="btn btn-primary" (click)="onUsersClick(client.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="6" r="4" fill="currentColor"/><path fill="currentColor" fill-rule="evenodd" d="M16.5 22c-1.65 0-2.475 0-2.987-.513C13 20.975 13 20.15 13 18.5s0-2.475.513-2.987C14.025 15 14.85 15 16.5 15s2.475 0 2.987.513C20 16.025 20 16.85 20 18.5s0 2.475-.513 2.987C18.975 22 18.15 22 16.5 22m.583-5.056a.583.583 0 1 0-1.166 0v.973h-.973a.583.583 0 1 0 0 1.166h.973v.973a.583.583 0 1 0 1.166 0v-.973h.973a.583.583 0 1 0 0-1.166h-.973z" clip-rule="evenodd"/><path fill="currentColor" d="M15.678 13.503c-.473.005-.914.023-1.298.074c-.643.087-1.347.293-1.928.875c-.582.581-.788 1.285-.874 1.928c-.078.578-.078 1.284-.078 2.034v.172c0 .75 0 1.456.078 2.034c.06.451.18.932.447 1.38H12c-8 0-8-2.015-8-4.5S7.582 13 12 13c1.326 0 2.577.181 3.678.503"/></svg>
                      </button>
                    </div>
                  } @else if(client.clientUser){
                    <!-- TODO: REDIRECCIONAR AL USUARIO PARA VISUALIZAR EL OWNER DEL CLIENTE -->
                    <div class="tooltip" data-tip="Visualizar usuario">
                      <a class="btn btn-warning" [routerLink]="['/admin/users/assignedClientsTo', client.clientUser[0].user?.id]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="9.001" cy="6" r="4" fill="currentColor"/><ellipse cx="9.001" cy="17.001" fill="currentColor" rx="7" ry="4"/><path fill="currentColor" d="M21 17c0 1.657-2.036 3-4.521 3c.732-.8 1.236-1.805 1.236-2.998c0-1.195-.505-2.2-1.239-3.001C18.962 14 21 15.344 21 17M18 6a3 3 0 0 1-4.029 2.82A5.7 5.7 0 0 0 14.714 6c0-1.025-.27-1.987-.742-2.819A3 3 0 0 1 18 6.001"/></svg>
                      </a>
                    </div>
                  }
              }
            </td>
          </tr>
        } 
      </tbody>
    </table>
  </div>
  
} @else {
  <div role="alert" class="alert alert-info">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <span>No hay registros disponibles para mostrar</span>
  </div>
}