<app-title [title]="'Administrar a ' + client()?.fullName" />

<!-- TODO: Componente de contratos -->
<div class="grid grid-cols-1 xl:grid-cols-2 gap-10">
    <section>
        <div class="flex justify-between">
            <h2 class="font-bold text-2xl">Contratos</h2>
            <crud-create-btn link="/admin/clients/contracts/create/{{client()?.id}}/new" />
        </div>
        <div class="grid grid-cols-3">
            @for (contract of contracts(); track contract.id) {
            <contract-element [contract]="contract" (delete)="handleDeleteContract($event)"/>
            }
        </div>
    </section>

    <!-- Payments -->
    <section>
        <div class="flex justify-between">
            <h2 class="font-bold text-2xl">Pagos</h2>
            <crud-create-btn link="/admin/clients/payments/create/{{client()?.id}}/new" />
        </div>
        <div class="flex flex-col gap-y-3 mt-2 h-[30rem] overflow-y-auto">
            @for (payment of payments(); track payment.id) {
            <payment-element [payment]="payment" (downloadPDF)="handleDownloadPDF($event)"/>
            }
        </div>
    </section>
</div>