@if (client()) {
<app-title [title]="'Detalles de ' + client()?.fullName" />
<section class="gap-2 rounded bg-base-200">
    <h2><span class="font-bold uppercase">Número telefónico: </span>{{client()?.phoneNumber ?? '' | PhoneNumber }} </h2>
    <h2><span class="font-bold uppercase">RFC: </span>{{client()?.rfc}}</h2>
    <h2><span class="font-bold uppercase">Contraseña SAT: </span> {{client()?.sat_password}}</h2>
    <h2>Creado desde: {{client()?.createdAt | date}}</h2>
</section>

<section class="rounded bg-base-200">
    <h2 class="text-2xl font-bold">Historial de pagos</h2>
</section>
}