/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui"{
    themes: corporate --default
};

.loaderPlacement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px - 52px);
}